.root {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-bg-subtle);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 440px;
    background: var(--color-bg-base);
}
