.root {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-bg-subtle);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 440px;
    background: var(--color-bg-base);
}

.innerContent {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 24px;
    color: var(--color--text-title);
    font-weight: 700;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.input {
    padding: 14px;
    font-size: 16px;
    background: var(--color-bg-subtle);
    color: var(--color-text-body);
    border: none;
    outline: none;
    border-radius: 4px;
}

.button {
    
}