
.innerContent {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 24px;
    color: var(--color--text-title);
    font-weight: 700;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.input {
    padding: 14px;
    font-size: 16px;
    background: var(--color-bg-subtle);
    color: var(--color-text-body);
    border: none;
    outline: none;
    border-radius: 4px;
}

.button {
    
}